<div class="page-title mb-5">
  <div class="custom-button-style pull-right" (click)="createTask()"><span class="fa fa-plus"></span> Add Task</div>
  <h3>Tasks</h3>
</div>

<div class="row">
  <div class="example-container col-12 col-xl-4">
    <h5>Low Priority</h5>

    <div cdkDropList #lowList="cdkDropList" [cdkDropListData]="low" [cdkDropListConnectedTo]="[mediumList, highList]"
      class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let data of low" [cdkDragData]="data" cdkDrag>
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="example-container col-12 col-xl-4">
    <h5>Medium Priority</h5>

    <div cdkDropList #mediumList="cdkDropList" [cdkDropListData]="medium" [cdkDropListConnectedTo]="[lowList, highList]"
      class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let data of medium" cdkDrag [cdkDragData]="data">
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="example-container col-12 col-xl-4">
    <h5>High Priority</h5>

    <div cdkDropList #highList="cdkDropList" [cdkDropListData]="highPriority" [cdkDropListConnectedTo]="[lowList, mediumList]"
    class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let data of highPriority" cdkDrag [cdkDragData]="data">
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="example-container col-12 col-xl-4">
    <h5>Low Priority</h5>

    <div id="all" cdkDropList [cdkDropListData]="low" cdkDropListConnectedTo="even" class="example-list"
      cdkDropListSortingDisabled="true" (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate">
      <div class="example-box" *ngFor="let data of low" [cdkDragData]="data" cdkDrag>
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>
        </div>

      </div>
    </div>
  </div>

  <div class="example-container col-12 col-xl-4">
    <h5>Medium Priority</h5>

    <div id="even" cdkDropList [cdkDropListData]="medium" cdkDropListConnectedTo="all" class="example-list"
      (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate">
      <div class="example-box" *ngFor="let data of medium" cdkDrag [cdkDragData]="data">
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>

        </div>
      </div>
    </div>
  </div>

  <div class="example-container col-12 col-xl-4">
    <h5>High Priority</h5>

    <div id="highPriority" cdkDropList [cdkDropListData]="highPriority" cdkDropListConnectedTo="all" class="example-list"
      (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate">
      <div class="example-box" *ngFor="let data of highPriority" cdkDrag [cdkDragData]="data">
        <div class="text-right actions">
          <span class="fa fa-pencil p-2"></span>
          <span class="fa fa-trash p-2" (click)="deleteTask(data)"></span>
        </div>
        <div class="contents">
          <h6>{{data.message | titlecase}}</h6>
          <p>Assigned To: {{data.assigned_name | titlecase}}</p>
          <p>Due On: {{data.due_date | titlecase}}</p>

        </div>
      </div>
    </div>
  </div>
</div> -->
