<div class="align-items-sm-center d-flex justify-content-sm-between mb-3 mb-sm-5 page-title user-page-header">
  <h3 class="">Users</h3>
  <div class="d-flex justify-content-end align-items-baseline searchable">
    <span class="fa fa-search mr-2 text-black-50"></span>
    <mat-form-field class="w-100">
      <input matInput [(ngModel)]="searchText" placeholder="Search">
    </mat-form-field>
  </div>
</div>

<div class="user-cards row">
  <div class="card-box col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of userData | appSearch: searchText">
    <div class="card-item">
      <img [src]="item.picture" alt="User-pic">
      <div class="details">
        <h6>{{item.name}}</h6>
        <p>ID: {{item.id}}</p>
      </div>
    </div>
  </div>
</div>
